@using System.Collections.Generic
@using MyFirstWeb.Models


@model IEnumerable<Student>

@{
    ViewData["Title"] = "Students";
    Layout = "_Layout";
    ViewData["rootView"] = "Student";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
       @await Html.PartialAsync("_ObjectSchoolList")
    </div>

</div>



<p><i>@ViewBag.Date</i></p>