@using Entities
@using Business
@inject NavigationManager NavManager

<title>Manew | Warehouse Creation</title>


<h4><a class="" href="warehouses"><i class="text-danger fa-solid fa-angle-left"></i></a> Creating a Warehouse</h4>
<EditForm Model="oWarehouse" OnValidSubmit=@SaveWarehouse>
    <DataAnnotationsValidator />


    <div class="form-group">
        <h6 for="NameInput">Name</h6>
        <InputText @bind-Value="oWarehouse.WarehouseName" class="form-control" id="NameInput" placeholder="Warehouse Name" />
        <ValidationMessage For="() => oWarehouse.WarehouseName" />
    </div>
    <br />
    <div class="form-group">
        <h6 for="ReferenceInput">Address</h6>
        <InputText @bind-Value="oWarehouse.WarehouseAddress" class="form-control" id="ReferenceInput" placeholder="Warehouse Address" />
        <ValidationMessage For="() => oWarehouse.WarehouseAddress" />
    </div>
    <br />
    <button type="submit" class="savebtn btn"><i style="padding-right: 4px;" class="text-success fa-solid fa-check"></i> Save</button>
    <a href="warehouses" class="cancelbtn btn"><i style="padding-right: 4px;" class="text-danger fa-solid fa-xmark"></i> Cancel</a>
</EditForm>


@code {
    Warehouse oWarehouse = new Warehouse();

    private void SaveWarehouse()
    {
        BsWarehouse.WarehouseCreation(oWarehouse);
        NavManager.NavigateTo("warehouses");
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}
