@using Business
@using Entities
@inject NavigationManager NavManager

<title>Manew | @oWarehouse.WarehouseName Warehouse Deletion</title>

<EditForm Model="oWarehouse" OnValidSubmit=@DeleteWarehouse>
    <div class="container">
        <div class="row-cols-sm-1">
            <h4><a class="" href="warehouses"><i class="text-danger fa-solid fa-angle-left"></i></a> Deleting @oWarehouse.WarehouseName</h4>
            <div class="alert alert-white border-5 border-danger" role="alert">
                <h2><i class="text-warning fa-solid fa-triangle-exclamation fa-2xl fa-pull-left"></i></h2>
                <h5>Are you sure you want Delete this Warehouse?</h5>
                <small>'@oWarehouse.WarehouseName' will be deleted forever</small>
                <hr />
                <button style="border-radius: 18px;" type="submit" class="btn btn-outline-danger"><i style="padding-right: 4px;" class="fa-solid fa-trash-can"></i> Delete</button>
                <a href="" class="cancelbtn btn"><i style="padding-right: 4px;" class="text-danger fa-solid fa-xmark"></i> Cancel</a>
            </div>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public string IdWarehouse { get; set; }

    Warehouse oWarehouse = new Warehouse();

    protected override async Task OnInitializedAsync()
    {
        oWarehouse = BsWarehouse.WarehouseById(IdWarehouse);
    }

    private void DeleteWarehouse()
    {
        BsWarehouse.WarehouseDeletion(oWarehouse);
        NavManager.NavigateTo("warehouses");
    }
}
