@*@using MyFirstWeb.Models

@model List<ObjectSchoolBase>*@

<div class="row">
    <div class="col">
        
    </div>
    <div class="col align-content-end">
        <a class="btn btn-outline-primary" href="/school"><i class="fa-solid fa-circle-left"></i> Back</a>
        <a class="btn btn-success" href="/@ViewData["rootView"]/create"><i class="fa-solid fa-plus"></i> Add @ViewData["rootView"]</a>
    </div>
</div>

<table class =  "table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var obj in Model)
    {
        <tr>
                <td>@obj.Name</td>
            <td>
                <a class="btn btn-primary" href="/@ViewData["rootView"]/index/@obj.Id"><i class="fa-solid fa-eye"></i> Details</a>
                <a class="btn btn-secondary" href="/@ViewData["rootView"]/edit/@obj.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                <a class="btn btn-danger" href="/@ViewData["rootView"]/delete/@obj.Id"><i class="fa-solid fa-trash"></i> Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>