@using Entities
@using Business
@inject NavigationManager NavManager

<title>Manew | Categories</title>

<h4>Categories</h4>

<a class="btns btn btn-sm btn-light border border-danger" href="category/create" data-bs-toggle="tooltip" data-bs-placement="top" title="New Cateogory"><i class="text-danger fa-solid fa-plus"></i> NEW</a>
<br />
<br />

<div class="container">
    <div class="row-cols-1">
        <EditForm Model="search">
            <div class="form-group input-group mb-3">
                <InputText style="border-bottom-left-radius: 10px; border-top-left-radius: 10px;" @bind-Value="search" class="form-control" placeholder="Search..." />
                <button style="border-bottom-right-radius: 10px; border-top-right-radius: 10px;" class="sbtn btn btn-danger text-danger" type="submit" id="button-addon1">
                    <i style="visibility: hidden;">MD</i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-white bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg><i style="visibility: hidden;">MD</i>
                </button>
            </div>
        </EditForm>
        <br />
        <table class="table table-borderless table-hover table-rounded bg-light">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in categories)
                {
                    if (category.CategoryName == "afgsdasdf")
                    {}
                    else
                    {
                        if (category.CategoryName.ToLower().Contains(search.ToLower()))
                        {
                            <tr style="border-radius: 10px;">
                                <td>@category.CategoryName</td>
                                <td>@category.CategoryId</td>
                                <td>
                                    <div class="dropdown">
                                        <div type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i style="padding: 2px;" class="more fa-solid fa-ellipsis fa-xl"></i>
                                        </div>
                                        <ul class="dropdown-menu">
                                            <li><h6 class="dropdown-header">Actions</h6></li>
                                            <li><a class="form-control dropdown-item" href="category/update/@category.CategoryId"><i style="padding-right: 7px;" class="text-secondary fa-solid fa-pen"></i> Edit</a></li>
                                            <li><a class="form-control dropdown-item text-danger" href="category/remove/@category.CategoryId"><i style="padding-right: 7px;" class="text-danger fa-solid fa-trash-can"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@if (!categories.Any())
{
    <div class="text-center text-secondary">
        <h2>
            <br />
            <br />
            <br />
            <br />
            for now there's nothing here...
            <br />
            <br />
            <a style="border-radius: 10px;" class="btns btn btn-sm btn-light border border-danger" href="cateogry/create" data-bs-toggle="tooltip" data-bs-placement="top" title="New Product">Create a Category</a>
        </h2>
    </div>
}

@code {
    string search = "";

    Category oCategory = new Category();
    private List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = BsCategory.CategoryList();
    }
}