@using Entities
@using Business
@inject NavigationManager NavManager

<title>Manew | Category Creation</title>

<h4><a class="categories" href="categories"><i class="text-danger fa-solid fa-angle-left"></i></a> Creating a Category</h4>
<EditForm Model="oCategory" OnValidSubmit=@SaveCategory>
    <DataAnnotationsValidator />
    <div class="">
        <div class="form-group">
            <h6 for="NameInput">Name</h6>
            <InputText @bind-Value="oCategory.CategoryName" class="form-control" id="NameInput" placeholder="Category Name" />
            <ValidationMessage For="() => oCategory.CategoryName" />
        </div>
    </div>
    <br />
    <div class="">
        <div class="form-group">
            <h6 for="IdInput">ID</h6>
            <InputText @bind-Value="oCategory.CategoryId" class="form-control" id="IdInput" placeholder="Category ID" />
            <ValidationMessage For="() => oCategory.CategoryId" />
        </div>
    </div>
    <br />
    <button type="submit" class="savebtn btn"><i style="padding-right: 4px;" class="text-success fa-solid fa-check"></i> Save</button>
    <a href="categories" class="cancelbtn btn"><i style="padding-right: 4px;" class="text-danger fa-solid fa-xmark"></i> Cancel</a>
</EditForm>

@code {
    Category oCategory = new Category();

    private void SaveCategory()
    {
        BsCategory.CategoryCreation(oCategory);
        NavManager.NavigateTo("categories");
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}