@using Entities
@using Business
@inject NavigationManager NavManager

<title>Manew | Category Edition</title>

<h4><a class="categories" href="categories"><i class="text-danger fa-solid fa-angle-left"></i></a> Editing @oCategory.CategoryName</h4>
<EditForm Model="oCategory" OnValidSubmit=@UpdateCategory>
    <DataAnnotationsValidator />
    <div class="form-group">
        <h6>Name</h6>
        <InputText class="form-control" @bind-Value="oCategory.CategoryName" placeholder="Category name" />
        <ValidationMessage For="() => oCategory.CategoryName" />
    </div>
    <br />
    <button type="submit" class="savebtn btn"><i style="padding-right: 4px;" class="text-success fa-solid fa-check"></i> Save</button>
    <a href="categories" class="cancelbtn btn"><i style="padding-right: 4px;" class="text-danger fa-solid fa-xmark"></i> Cancel</a>
</EditForm>

@code {
    [Parameter]
    public string IdCategory { get; set; }

    Category oCategory = new Category();
    List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        oCategory = BsCategory.CategoryById(IdCategory);
    }

     private void UpdateCategory()
    {
        BsCategory.CategoryUpdate(oCategory);
        NavManager.NavigateTo("categories");
    }
}