@page "/home"

<div class="text-center">
      <i class="fa-solid fa-industry fa-2xl"></i>
    <h1>Welcome to Manew Warehouses Inc.</h1>
    <h3>Where we store the best for YOU</h3>
</div>

@code {

}
