@page "/"

<div class="text-center">
    <span class="fa-solid fa-industry" style="font-size:60px; color:blue"></span>
    <h2>Manew Warehouses Inc.</h2>
    <h5>Welcome to your inventory system Manew!</h5>
    <h6>Start managing your own storage and international sales system.</h6>
</div> 