@page "/"

<div class="text-center">
    <span class="fa-solid fa-industry" style="font-size:60px"></span>
    <h1>Manew Warehouses Inc.</h1>
    <h3>Where we store the best for YOU</h3>
    <h5>Welcome to your inventory system Manew!</h5>
    <h6>Start managing your own storage and international sales system.</h6>
</div> 