@using MyFirstWeb.Models

@model MyFirstWeb.Models.Subject

@{
    ViewData["Title"] = "Subject Creation";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

    <div asp-validation-summary="All"></div>
<form method = "POST">

    <div>
        <label asp-for="Name">Name:</label>
        @Html.TextBoxFor(m=>m.Name,new {@Value = "Enter Name"})
        @Html.HiddenFor(m=>m.CourseId)
    </div>
    <input type = "submit"/>
</form>

<p><i>@ViewBag.Date</i></p>      