@inherits LayoutComponentBase

<PageTitle>MyFirstBlazorApp</PageTitle>

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>
*@
    <main            
        <div class="top-row px-4">
                <div class="btn-group" role="group">
                <a class="btn btn-outline-primary" href="home"><i class="fa-solid fa-house"></i> Home</a>
                <a class="btn btn-outline-primary" href="products"><i class="fa-solid fa-cubes"></i> Products</a>
                <a class="btn btn-outline-primary" href="storage/create"><i class="fa-solid fa-database"></i> Create Storage</a>
                <a class="btn btn-outline-primary" href="inouts"><i class="fa-solid fa-arrow-right-arrow-left"></i>  InOuts</a>
                <a class="btn btn-outline-primary" href="warehouse/create"><i class="fa-solid fa-industry"></i> Create Warehouse</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
