@inherits LayoutComponentBase

@*<PageTitle>MyFirstBlazorApp</PageTitle>*@

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>
*@
    <main>
        <div class=""></div>
        <div class="top-row">
            <div class="flex-fill">
                <a class="text-primary" href=""><i class="fa-solid fa-industry fa-2xl"></i></a>
                </div>
            <div class="btn-group" role="group">
                <a class="btn btn-outline-primary" href=""><i class="fa-solid fa-house"></i> Home</a>
                <a class="btn btn-outline-primary" href="categories"><i class="fa-solid fa-tags" data-fa-transform="flip-h"></i> Categories</a>
                <a class="btn btn-outline-primary" href="warehouses"><i class="fa-solid fa-warehouse"></i> Warehouses</a>
            </div>
        </div>

        <article class="content px-4">
            @Body  
        </article>
    </main>
</div>
