@using Entities
@using Business
@using System.Linq
@inject NavigationManager NavManager

@inherits LayoutComponentBase
<head>
    <link rel="icon" type="image/png" href="manewlogo.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
</head>

<div class="page">
    <main>
        <style>
            :root {
                --white: #FFFFFF;
                --black: #000000;
                --very-light-pink: #C7C7C7;
                --text-input-field: #F7F7F7;
                --hospital-green: #DC3545;
                --sm: 14px;
                --md: 16px;
                --lg: 18px;
            }

            body {
                margin: 0;
                font-family: 'Quicksand', sans-serif;
            }

            .primary-btn {
                background-color: var(--hospital-green);
                border-radius: 8px;
                height: 40px;
                font-size: var(--md);
                border-radius: 8px;
                border: none;
                color: var(--white);
                font-weight: bold;
                font-family: 'Quicksand', sans-serif;
            }

            .secondary-btn {
                background-color: var(--white);
                border-radius: 8px;
                height: 40px;
                font-size: var(--md);
                border-radius: 8px;
                border: 1px solid;
                border-color: var(--hospital-green);
                color: var(--hospital-green);
                font-weight: bold;
                font-family: 'Quicksand', sans-serif;
            }

            .title {
                font-size: var(--lg);
                font-weight: bold;
                margin-bottom: 30px;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

                .title span a {
                    text-decoration: none;
                    color: var(--hospital-green);
                }

            nav {
                border-bottom: 1px solid var(--very-light-pink);
            }

            .hidden {
                display: none;
            }

            table {
                background-color: #F8F9FA;
            }

                table.table-rounded {
                    border-spacing: 0;
                    border-collapse: separate;
                    border-radius: 20px;
                    border: solid 1px;
                    border-color: white;
                }

            .btns {
                border-radius: 9px;
            }

                .btns:hover {
                    color: var(--hospital-green);
                }

            .more:hover {
                color: white;
                border-radius: 25%;
                background-color: var(--hospital-green);
            }

            .morev:hover {
                color: var(--hospital-green);
            }

            .btn {
                font-family: 'Quicksand', sans-serif;
            }

            h1, h2, h3, h4, h5, h6, th, td, option, li, p {
                font-family: 'Quicksand', sans-serif;
            }

            .navicon {
                padding-right: 2px;
            }

            .navnew {
                color: var(--hospital-green);
                border-color: white;
            }

                .navnew:hover {
                    color: white;
                    border-color: white;
                }

            .navitem {
                margin: 0 2px 0 2px;
                padding: 4px   ;
                color: var(--hospital-green);
                border: solid;
                background-color: white;
                border-radius: 10px;
                border-color: white;
            }

                .navitem:hover {
                    color: white;
                    border: solid;
                    background-color: var(--hospital-green);
                    border-radius: 10px;
                    border-color: var(--hospital-green);
                }

            .logo {
                border-radius: 10px;
                background-color: var(--hospital-green);
            }

            .logo2 {
                color: black;
                border-color: white
            }

            .savebtn {
                border-radius: 18px;
                border-color: var(--hospital-green);
            }

                .savebtn:hover {
                    border-color: var(--hospital-green);
                    color: #2A9061;
                }

            .cancelbtn {
                border-radius: 18px;
                border-color: #0D6EFD;
            }

                .cancelbtn:hover {
                    border-color: #0D6EFD;
                    color: var(--hospital-green);
                }

            .search {
                border-color: #D7DEE4;
                color: black;
            }

                .search:hover {
                    border-color: var(--hospital-green);
                    color: var(--hospital-green);
                }

            .nav-items {
                margin-left: auto !important;
                margin-right: auto !important;
            }
        </style>

        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid">
                <div style="border-color: white;" class="navbar-toggler" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="dropdown">
                        <button style="border-color: white;" class="btn btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="fa-flip-vertical" style="display: inline-block;">
                                <i class="navbutton fa-solid fa-chart-simple fa-rotate-90 fa-xl text-danger"></i>
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a style="font-family: 'Quicksand', sans-serif; padding-top: 12px; padding-bottom: 12px;" class="dropdown-item" href=""><i style="margin-right: 12px;" class="text-danger fa-solid fa-boxes-stacked"></i> Products</a></li>

                            <li><a style="font-family: 'Quicksand', sans-serif; padding-top: 12px; padding-bottom: 12px;" class="dropdown-item" href="categories"><i style="margin-right: 12px;" class="text-danger fa-solid fa-shapes"></i> Categories</a></li>

                            <li><a style="font-family: 'Quicksand', sans-serif; padding-top: 12px; padding-bottom: 12px;" class="dropdown-item" href="warehouses"><i style="margin-right: 12px;" class="text-danger fa-solid fa-warehouse"></i> Warehouses</a></li>
                        </ul>
                    </div>
                </div>

                @*<div class="logo" style="padding: 12px;"><a href=""><i class="text-white fa-solid fa-m fa-xl"></i></a></div>*@

                <div class="nav-items collapse navbar-collapse text-center justify-content-center" id="navbarTogglerDemo02">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-iten">
                            <a id="navi" style="font-family: 'Quicksand', sans-serif; font-weight: bold;" class="navitem nav-link" aria-current="page" href=""><i class="navicon fa-solid fa-boxes-stacked"></i> Products</a>
                        </li>
                        <li class="nav-iten">
                            <a id="navi" style="font-family: 'Quicksand', sans-serif; font-weight: bold;" class="navitem nav-link" href="categories"><i class="navicon fa-solid fa-shapes"></i> Categories</a>
                        </li>
                        <li class="nav-iten">
                            <a id="navi" style="font-family: 'Quicksand', sans-serif; font-weight: bold;" class="navitem nav-link" href="warehouses"><i class="navicon fa-solid fa-warehouse"></i> Warehouses</a>
                        </li>
                        @*<li class="nav-iten">
                            <a id="navi" style="font-family: 'Quicksand', sans-serif;, cursive;" class="navitem nav-link" href="search"><i class="navicon fa-solid fa-magnifying-glass"></i> Search</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

