@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row">
            <div class="flex-fill">
                <a class="text-success" href=""><i class="fa-solid fa-clover fa-2xl"></i></a>
                <strong>Lucky Luck</strong>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-outline-success border border-light"><i class="fa-solid fa-house"></i> Home</a>
                <a class="btn btn-outline-success border border-light"><i class="fa-solid fa-tags fa-flip-horizontal"></i> Categories</a>
                <a class="btn btn-outline-success border border-light" style=""><i class="fa-solid fa-warehouse"></i> Branches</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


