@using Entities
@using Business

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Reference</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in products)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.ProductId</td>
                <td>@product.CategoryId</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = BsProduct.ProductList();
    }
}
