@using Entities
@using Business
@inject NavigationManager NavManager

<title>Lucky Luck | Warehouse Creation</title>

<br />
<EditForm Model="oWarehouse" OnValidSubmit=@SaveWarehouse>
    <DataAnnotationsValidator/>

    <div class="form-group">
        <label for="warehouseId">Name:</label>
        <InputText id="warehouseId"@bind-Value="oWarehouse.WarehouseName" class="form-control"/>
        <ValidationMessage For="() => oWarehouse.WarehouseName"/>
    </div>

    <div class="form-group">
        <label>Address:</label>
        <InputText @bind-Value="oWarehouse.WarehouseAddress" class="form-control" />
        <ValidationMessage For="() => oWarehouse.WarehouseAddress"/>
    </div>
    <br/>
    <a class="btn btn-outline-dark" href=""><i class="fa-solid fa-angles-left"></i> Back</a>
    <input type="submit" value="Add" class="btn btn-primary" />
</EditForm>


@code{
    Warehouse oWarehouse = new Warehouse();

    private void SaveWarehouse()
    {
        BsWarehouse.WarehouseCreation(oWarehouse);
        NavManager.NavigateTo("warehouses");
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}
