@using Entities
@using Business

<h2>Warehouses List</h2>

<a class="btn btn-success" href="warehouse/create"><i class="fa-solid fa-plus"></i> Create Warehouse</a>

@if (warehouses == null)
{
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <br/>
    <p><em>Loading...</em></p>
}
else
{
    <table class="display table table-hover">
        <thead>
            <tr>
                <th>Warehouse</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var warehouse in warehouses)
            {
                <tr>
                    <td>@warehouse.WarehouseName</td>
                    <td>@warehouse.WarehouseAddress</td>
                    <td>
                        <a class="btn btn-secondary" href="warehouse/update/@warehouse.WarehouseId"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                        <a class="btn btn-danger" href="warehouse/remove/@warehouse.WarehouseId"><i class="fa-solid fa-trash"></i> Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string ToPage { get; set; }

    private List<Warehouse> warehouses = new List<Warehouse>();

    protected override async Task OnInitializedAsync()
    {
        warehouses = BsWarehouse.WarehouseList();
    }
}
