@using Entities
@using Business

<title>Lucky Luck | Warehouses</title>

<a class="btn btn-success" href="warehouse/create"><i class="fa-solid fa-plus"></i> New Warehouse</a>

    <table class="display table table-hover">
        <thead>
            <tr>
                <th>Warehouse</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var warehouse in warehouses)
            {
                <tr>
                    <td>@warehouse.WarehouseName</td>
                    <td>@warehouse.WarehouseAddress</td>
                    <td>
                        <a class="btn btn-secondary" href="warehouse/update/@warehouse.WarehouseId" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Warehouse"><i class="fa-solid fa-pen"></i></a>
                        <a class="btn btn-danger" href="warehouse/remove/@warehouse.WarehouseId" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Warehouse"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

@code {
    [Parameter]
    public string ToPage { get; set; }

    private List<Warehouse> warehouses = new List<Warehouse>();

    protected override async Task OnInitializedAsync()
    {
        warehouses = BsWarehouse.WarehouseList();
    }
}
