@using Business
@using Entities
@inject NavigationManager NavManager

<title>Lucky Luck | @oWarehouse.WarehouseName Branch Removal</title>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="alert alert-light border-5 border-success" role="alert">
                <div class="row">
                    <div class="col-2">
                        <h3><i class="text-warning fa-solid fa-triangle-exclamation fa-2xl"></i></h3>
                    </div>

                    <div class="col-10">
                        <h5>Are you sure you want remove this Brach?</h5>
                        <small>'@oWarehouse.WarehouseName' will be deleted forever</small>
                    </div>
                </div>
                
                <hr/>
                <input type="button" class="btn btn-danger" value="Delete" @onclick="DeleteWarehouse" />
                <a class="btn btn-outline-primary" href="warehouses">Cancel</a>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string IdWarehouse { get; set; }

    Warehouse oWarehouse = new Warehouse();

    protected override async Task OnInitializedAsync()
    {
        oWarehouse = BsWarehouse.WarehouseById(IdWarehouse);
    }

    private void DeleteWarehouse()
    {
        BsWarehouse.WarehouseDeletion(oWarehouse);
        NavManager.NavigateTo("warehouses");
    }
}
