@using Entities
@using Business
@inject NavigationManager NavManager

<h2>Categories List</h2>

<a class="btn btn-success" href="category/create"><i class="fa-solid fa-plus"></i> New Category</a>
<hr/>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in categories)
        {
            <tr>
                <td>@category.CategoryName (@category.CategoryId)</td>
                <td>
                    <a class="btn btn-secondary" href="category/update/@category.CategoryId" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Category"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="btn btn-danger" href="category/remove/@category.CategoryId" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Cateogry"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" href=""><i class="fa-solid fa-angles-left"></i> Back</a>

@code {
    Category oCategory = new Category();
    private List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = BsCategory.CategoryList();
    }
}