@using Entities
@using Business
@inject NavigationManager NavManager

<h2>Category Creation</h2>

<EditForm Model="oCategory">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label for="categoryId">Name:</label>
        <InputText id="categoryId" @bind-Value="oCategory.CategoryName" class="form-control"/>
        <ValidationMessage For="@(() => oCategory.CategoryName)" class="text-danger"/>
    </div>

    <div class="form-group">
        <label>Reference:</label>
        <InputText @bind-Value="oCategory.CategoryId" class="form-control" />
        <ValidationMessage For="@(() => oCategory.CategoryId)" class="text-danger"/>
    </div>
    
    <div class="form-group">
        <br/><input type="button" value="Add Category" @onclick="SaveCategory" class="form-control btn btn-success" />
    </div>
</EditForm>


@code{
    Category oCategory = new Category();

    private void SaveCategory()
    {
        BsCategory.CategoryCreation(oCategory);
        NavManager.NavigateTo("categories");
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}