@using Entities
@using Business
@inject NavigationManager NavManager

<title>Manew | Category Creation</title>

<style>
    body {
        margin: 0;
        font-family: 'Quicksand', sans-serif;
    }

    .login {
        width: 100%;
        margin-top: 100px;
        display: grid;
        place-items: center;
    }


    .form-container {
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 300px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

        .form div {
            display: flex;
            flex-direction: column;
        }

    .label {
        font-size: var(--sm);
        font-weight: bold;
        margin-bottom: 4px;
    }

    .form-input {
        margin-bottom: 25px;
    }

    .input {
        color: black;
        background-color: var(--text-input-field);
        border-color: var(--text-input-field);
        border-radius: 8px;
    }

    .form a {
        text-align: center;
        font-size: var(--sm);
        color: var(--hospital-green);
        text-decoration: none;
    }

    .login-btn {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .signup-btn {
        margin-top: 25px;
    }
</style>@*

<EditForm Model="oCategory" OnValidSubmit=@SaveCategory>
    <DataAnnotationsValidator />
    <div class="">
        <div class="form-group">
            <h6 for="NameInput">Name</h6>
            <InputText @bind-Value="oCategory.CategoryName" class="form-control" id="NameInput" placeholder="Category Name" />
            <ValidationMessage For="() => oCategory.CategoryName" />
        </div>
    </div>
    <br />
    <div class="">
        <div class="form-group">
            <h6 for="IdInput">ID</h6>
            <InputText @bind-Value="oCategory.CategoryId" class="form-control" id="IdInput" placeholder="Category ID" />
            <ValidationMessage For="() => oCategory.CategoryId" />
        </div>
    </div>
    <br />
    <button type="submit" class="savebtn btn"><i style="padding-right: 4px;" class="text-success fa-solid fa-check"></i> Save</button>
    <a href="categories" class="cancelbtn btn"><i style="padding-right: 4px;" class="text-danger fa-solid fa-xmark"></i> Cancel</a>
</EditForm>*@



<EditForm Model="oCategory" OnValidSubmit=@SaveCategory>
    <DataAnnotationsValidator />
    <body class="d-flex justify-content-center">
        <div class="login">
            <div class="form-container">
                <p class="title">
                    <span><a href="/categories"><i class="fa-solid fa-chevron-left title-icon fa-sm"></i></a></span>
                    <span>Creating a Category</span>
                </p>

                <div class="form">
                    <div>
                        <div class="form-input">
                            <label for="name-input" class="label">Name</label>
                            <InputText @bind-Value="oCategory.CategoryName" class="input form-control" id="name-input" placeholder="Product name" />
                            <ValidationMessage For="() => oCategory.CategoryName" />
                        </div>

                        <div class="form-input">
                            <label for="product-id" class="label">ID</label>
                            <InputText @bind-Value="oCategory.CategoryId" class="input form-control" id="product-id" placeholder="Product ID" />
                            <ValidationMessage For="() => oCategory.CategoryId" />
                        </div>
                    </div>

                    <button type="submit" class="primary-btn signup-btn">Create</button>
                </div>
            </div>
        </div>
    </body>
</EditForm>

@code {
    Category oCategory = new Category();

    private void SaveCategory()
    {
        BsCategory.CategoryCreation(oCategory);
        NavManager.NavigateTo("categories");
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}