@using Entities
@using Business
@inject NavigationManager NavManager

<h2>Category Edition</h2>

<EditForm Model="oCategory">
    <div class="form-group">
        <label>Name:</label>
        <InputText class="form-control" @bind-Value="oCategory.CategoryName" />
    </div>
    <br/>
    <input type="button" class="btn btn-secondary" value="Update" @onclick="UpdateCategory" />
</EditForm>

@code {
    [Parameter]
    public string IdCategory { get; set; }

    Category oCategory = new Category();
    List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        oCategory = BsCategory.CategoryById(IdCategory);
    }

     private void UpdateCategory()
    {
        BsCategory.CategoryUpdate(oCategory);
        NavManager.NavigateTo("categories");
    }
}