@using Entities
@using Business

<div class="form-group">
    <h5>Name: @oProduct.ProductName</h5>
    <hr/>
    <h5>Category: (@oProduct.CategoryId)</h5>
    <hr/>
    <h5>Reference: @oProduct.ProductId</h5>
    <hr/>
    <h5>Quantity in Storage: @oProduct.TotalQuantity</h5>

    <a class="btn btn-info" href="products"><i class="fa-solid fa-angles-left"></i> Back</a>
</div>

@code {
    [Parameter]
    public string IdProduct { get; set; }

    Product oProduct = new Product();
    Category oCategory = new Category();
    List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = BsCategory.CategoryList();
        oProduct = BsProduct.ProductById(IdProduct);
    }
}
