@using Business
@using Entities
@inject NavigationManager NavManager

<title>MANEW | @oProduct.ProductName Product Removal</title>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="alert alert-light border-5 border-success" role="alert">
                <div class="row">
                    <div class="col-2">
                        <h3><i class="text-warning fa-solid fa-triangle-exclamation fa-2xl"></i></h3>
                    </div>

                    <div class="col-10">
                        <h5>Are you sure you want remove this Product?</h5>
                        <small>'@oProduct.ProductName' will be deleted forever</small>
                    </div>
                </div>
                
                <hr/>
                <input type="button" class="btn btn-danger" value="Delete" @onclick="DeleteProduct" />
                <a class="btn btn-outline-primary" href="">Cancel</a>
            </div>
        </div>
    </div>
</div>




@code {
    [Parameter]
    public string IdProduct { get; set; }

    Product oProduct = new Product();
    List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = BsCategory.CategoryList();
        oProduct = BsProduct.ProductById(IdProduct);
    }

    private void DeleteProduct()
    {
        BsProduct.ProductDeletion(oProduct);
        NavManager.NavigateTo("");
    }
}