@using Business
@using Entities
@inject NavigationManager NavManager

<title>Manew | @oProduct.ProductName Product Deletion</title>

<EditForm Model="oProduct" OnValidSubmit=@DeleteProduct>
    <style>
        body {
            margin: 0;
            font-family: 'Quicksand', sans-serif;
        }

        .login {
            width: 100%;
            margin-top: 100px;
            display: grid;
            place-items: center;
        }

        .form-container {
            display: grid;
            grid-template-rows: auto 1fr auto;
            width: 300px;
        }

        .logo {
            width: 150px;
            margin-bottom: 30px;
            justify-self: center;
            display: none;
        }

        .title {
            font-size: var(--lg);
            margin-bottom: 0px;
            text-align: center;
        }

        .subtitle {
            font-size: var(--md);
            text-align: center;
        }

        .alert-image {
            width: 170px;
            padding: 10px;
            background-color: var(--text-input-field);
            justify-self: center;
            border-radius: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .resend {
            font-size: var(--sm);
            justify-self: center;
        }

            .resend span {
                color: var(--very-light-pink);
            }

            .resend a {
                color: var(--hospital-green);
                text-decoration: none;
            }

        .secondary-btn {
            text-decoration: none;
            background-color: var(--white);
            height: 40px;
            border-radius: 8px;
            padding-top: 7px;
            font-size: var(--md);
            border: 1px solid #0D6EFD;
            color: #0D6EFD;
            font-weight: bold;
        }

        .login-btn {
            margin-top: 15px;
            font-weight: bold;
            border-radius: 8px;
        }

        .subtitle small span {
            font-weight: bold;
        }
    </style>

    <body>
        <div class="login">
            <h1 class="title">STOP!</h1>
            <p class="subtitle">
                Are you sure you want delete this product?
                <br />
                <small>'<span>@oProduct.ProductName</span>' will be deleted forever</small>
            </p>
            <div class="form-container">
                <img class="alert-image" src="./css/My project (1).png" alt="alert" />

                <input value="Delete" type="submit" class="btn btn-outline-danger login-btn">
                <a href="" class="secondary-btn login-btn text-center">Cancel</a>
            </div>
        </div>
    </body>
</EditForm>


@code {
    [Parameter]
    public string IdProduct { get; set; }

    Product oProduct = new Product();
    List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = BsCategory.CategoryList();
        oProduct = BsProduct.ProductById(IdProduct);
    }

    private void DeleteProduct()
    {
        BsProduct.ProductDeletion(oProduct);
        NavManager.NavigateTo("");
    }
}