@using Entities
@using Business
@inject NavigationManager NavManager

<title>Manew | @oProduct.ProductName Product Edition</title>

<style>
    body {
        margin: 0;
        font-family: 'Quicksand', sans-serif;
    }

    .login {
        width: 100%;
        margin-top: 100px;
        display: grid;
        place-items: center;
    }


    .form-container {
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 300px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

        .form div {
            display: flex;
            flex-direction: column;
        }

    .label {
        font-size: var(--sm);
        font-weight: bold;
        margin-bottom: 4px;
    }

    .form-input {
        margin-bottom: 25px;
    }

    .input {
        color: black;
        background-color: var(--text-input-field);
        border-color: var(--text-input-field);
        border-radius: 8px;
    }

    .form a {
        text-align: center;
        font-size: var(--sm);
        color: var(--hospital-green);
        text-decoration: none;
    }

    .login-btn {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .signup-btn {
        margin-top: 25px;
    }
</style>

<EditForm Model="oProduct" OnValidSubmit=@UpdateProduct>
    <DataAnnotationsValidator />
    <body class="justify-content-center">
        <div class="login">
            <div class="form-container">
                <p class="title">
                    <span><a href=""><i class="fa-solid fa-chevron-left title-icon fa-sm"></i></a></span>
                    <span>Editing '@oProduct.ProductName'</span>
                </p>

                <div class="form">
                    <div>
                        <div class="form-input">
                            <label for="name-input" class="label">Name</label>
                            <InputText @bind-Value="oProduct.ProductName" class="input form-control" id="name-input" placeholder="Product name" />
                            <ValidationMessage For="() => oProduct.ProductName" />
                        </div>

                        <div class="form-input">
                            <label for="description-input" class="label">Description</label>
                            <InputTextArea @bind-Value="oProduct.ProductDescription" class="input form-control" id="description-input" placeholder="Product description" />
                            <ValidationMessage For="() => oProduct.ProductDescription" />
                        </div>
                    </div>

                    <button type="submit" class="primary-btn signup-btn">Update</button>
                </div>
            </div>
        </div>
    </body>
</EditForm>

@code {
    [Parameter]
    public string IdProduct { get; set; }

    Product oProduct = new Product();
    List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = BsCategory.CategoryList();
        oProduct = BsProduct.ProductById(IdProduct);
    }

    private void UpdateProduct()
    {
        BsProduct.ProductUpdate(oProduct);
        NavManager.NavigateTo("");
    }
}
