@using Entities
@using Business
@inject NavigationManager NavManager

<title>Lucky Luck | @oProduct.ProductName Product Edition</title>

<EditForm Model="oProduct" OnValidSubmit=@UpdateProduct>
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Name:</label>
        <InputText class="form-control" @bind-Value="oProduct.ProductName" />
        <ValidationMessage For="() => oProduct.ProductName" />
    </div>
    <div class="form-group">
        <label>Reference:</label>
        <InputText class="form-control" @bind-Value="oProduct.ProductName" />
        <ValidationMessage For="() => oProduct.Reference" />
    </div>
    <div class="form-group">
        <label>Description:</label>
        <InputTextArea class="form-control" @bind-Value="oProduct.ProductDescription" />
    </div>
    <br/>
    <input type="submit" class="btn btn-secondary" value="Update"/>
</EditForm>

@code {
    [Parameter]
    public string IdProduct { get; set; }

    Product oProduct = new Product();
    List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = BsCategory.CategoryList();
        oProduct = BsProduct.ProductById(IdProduct);
    }

    private void UpdateProduct()
    {
        BsProduct.ProductUpdate(oProduct);
        NavManager.NavigateTo("");
    }
}
 